{% extends "listerLesFormationsAvecPagination.twig"  %}

      {% block content %}
              <h2>{{ TitreDeLaPage |e }}</h2>

        {% for uneFormation in lesformations %}
            <h3><a href="{{site_url('Exos/VoirUneFormation')}}/{{uneFormation.idformation|e}} "> {{ uneFormation.libelle |e }}</a></h3>
        {% endfor %}
        <p>Pour avoir afficher le détail d'une formation, cliquer sur son titre</p>
      {{ liensPagination |raw }}

      {% endblock %}

      {% block menu %}
      <h1>Salut</h1>
      {% endblock %}
